.header {
    margin:0;
    padding:10px 10px 50px 10px;
    overflow:hidden;
    display:block;
}

.header-right {
    float:right;
}

.footer {
    margin:0;
    padding:50px 10px 10px 10px;
    overflow:hidden;
    display:block;
}

.footer-right {
    float:right;
}

.logo {
}

.logo-img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.searchbox {
    padding:20px 10px 20px 10px;
    margin:auto;
    width:20%;
}

.searchbox-form {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.searchbox-input {
}

.searchbox-button {
}

.languages {
    margin:auto;
    width:20%;
}
